
package $packageName#[[.]]#Controller;


import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.*;

import de.fhdortmund.mbsdprojekt.Repositories.AntragRepo;
import de.fhdortmund.mbsdprojekt.Entities.Antrag;
import de.fhdortmund.mbsdprojekt.Repositories.BenutzerRepo;
import de.fhdortmund.mbsdprojekt.Entities.Benutzer;
import de.fhdortmund.mbsdprojekt.Repositories.FahrzeugRepo;
import de.fhdortmund.mbsdprojekt.Entities.Fahrzeug;
import de.fhdortmund.mbsdprojekt.Repositories.HerstellerRepo;
import de.fhdortmund.mbsdprojekt.Entities.Hersteller;
import de.fhdortmund.mbsdprojekt.Repositories.UserRepo;
import de.fhdortmund.mbsdprojekt.Entities.User;

import java.util.ArrayList;
import java.util.List;

@Controller
@RequestMapping("/$class.getName()")
public class $class.getName()Controller {

    @Autowired
    private $class.getName()Repo repo;

    @GetMapping("/find/all/$class.getName()")
    public ResponseEntity<List<$class.getName()>> getAll$class.getName()() {
        return new ResponseEntity<>(repo.findAll(), HttpStatus.OK);
    }

    @GetMapping("/find/$class.getName()/byId/{pathVar}")
    public ResponseEntity<$class.getName()> get$class.getName()ById(@PathVariable Long pathVar) {
        $class.getName() var = repo.findById(pathVar).orElse(null);
        if (var != null) {
            return new ResponseEntity<>(var, HttpStatus.OK);
        }
        return new ResponseEntity<>(new $class.getName()(), HttpStatus.NOT_FOUND);
    }

    @PostMapping("/add/$class.getName()")
    public ResponseEntity<$class.getName()> add$class.getName()(@RequestBody $class.getName() var) {

        return new ResponseEntity<>(repo.save(var), HttpStatus.CREATED);
    }

    @PutMapping("/update/$class.getName()")
    public ResponseEntity<$class.getName()> update$class.getName()(@RequestBody $class.getName() var) {

        return new ResponseEntity<>(repo.save(var), HttpStatus.OK);
    }

    @DeleteMapping("/delete/$class.getName()")
    public ResponseEntity<$class.getName()> delete$class.getName()ById(@RequestParam(name = "id") Long id) {
        $class.getName() var = repo.findById(id).orElse(null);
        if (var != null) {
            repo.deleteById(id);
            return new ResponseEntity<>(var, HttpStatus.OK);
        }
        return new ResponseEntity<>(new $class.getName()(), HttpStatus.BAD_REQUEST);
    }
}